<nav>
    <div class="flex items-center justify-between fixed top-0 z-30 w-full py-6">
        <div class="flex items-center justify-between mx-auto w-5/6">
            <div class="flex items-center justify-between w-full gap-16">
                <!-- LEFT SIDE -->
                <img src="Logo.png" alt="logo" class="">
                <!-- RIGHT SIDE -->
                <div class="flex items-center justify-between w-full">
                    <div class="flex items-center gap-8 text-sm">
                        <a href="#" class="text-blue-600">Home</a>
                        <a href="#" class="text-blue-600">Benefits</a>
                        <a href="#" class="text-blue-600">Our Classes</a>
                        <a href="#" class="text-blue-600">Contact Us</a>
                    </div>
                    <div class="flex items-center gap-8 text-base">
                        <p>Sign In</p>
                        <button class="rounded-full bg-red-500 p-2">Become a member</button>
                    </div>
                </div>
            </div>
            <button class="rounded-full bg-yellow-500 p-2" onclick="toggleMenu()">
                <svg class="h-6 w-6 text-white" viewBox="0 0 24 24">
                    <path
                        d="M4 6h16M4 12h16M4 18h16"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                </svg>
            </button>
        </div>
    </div>
    <!-- MOBILE MENU MODAL -->
    <div id="mobileMenu" class="fixed right-0 bottom-0 z-40 h-full w-[300px] bg-yellow-100 shadow-xl hidden">
        <!-- CLOSE ICON -->
        <div class="flex justify-end p-12">
            <button onclick="toggleMenu()">
                <svg class="h-6 w-6 text-gray-400" viewBox="0 0 24 24">
                    <path d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <!-- MENU ITEMS -->
        <div class="ml-[33%] flex flex-col gap-10 text-2xl">
            <a href="#" class="text-blue-600">Home</a>
            <a href="#" class="text-blue-600">Benefits</a>
            <a href="#" class="text-blue-600">Our Classes</a>
            <a href="#" class="text-blue-600">Contact Us</a>
        </div>
    </div>
</nav>
