@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  @apply text-primary;
}

.slider {
  overflow: hidden;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.grid-rows-masonry {
  display: grid;
  justify-content: center !important;
  align-items: center !important;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.mxAuto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.orange-gradient {
  z-index: 1;
  background: linear-gradient(360deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
}

.hidden {
  display: hidden;
}
.slide {
  flex: 0 0 100%;
  transition: transform 0.3s ease-in-out;
}
